*{box-sizing: border-box;}
*{margin:0; padding:0;
 }
body{
	background-color: #ffffff;
}
body,#container,#header,#article,img{width:100%;
}
#container,#header,#fold2,#fold3,#fold4,#fold5,#fold6,footer{
	position: relative;	
}
#logo{
	position: absolute;
	float: left;
	width:15%;
	height: auto;
	top: 1%;
	left: 10%;
}
header h1{
	position: absolute;
	display: inline-block;
	font-size: 15vw ;
	font-weight:100;
	color: #ffffff;
	margin: 20% 0% 0% 43%;
}
header h2{
	position:absolute;
	display: inline-block;
	margin: 35% 1% 1% 43%;
	color: #ffffff;
	font-size: 5.9vw;
}
#TextMenu{
	border-top:0.4vw solid #ffffff;
	border-bottom: 0.4vw solid #ffffff;
	text-align: center;
}
#menu{
	position: absolute;
	top:1%;
	left:80%;
	width: 10%;
	color: #ffffff;
	font-weight: bold;
	list-style-type: none;
	font-size: 2vw;
}

#menu ul{
	display: none;
	position: absolute;
	top:100%;
	list-style-type: none;
}
#menu li:hover ul{
	display: block;
}
#menu a{
	display: block;
	text-decoration: none;
	color: #ffffff;
	list-style-type: none;
	font-weight: bold;
	font-size: 2vw;
	border-left: 1vw blue solid;
	padding:10% 0;
}
#menu ul li a:hover{
	color:blue;
}
#fold2 h2:nth-child(1) {
	color: #000000;
	font-size: 4vw; 
	text-align: center;
	margin-top: 5%;
	font-weight:100;
}
#fold2 :first-child span{
	font-weight:800 ;
}
#fold2 h2:nth-child(2){
	color: #000000;
	font-size: 1.8vw; 
	text-align: center;
	margin: 1% 1% 5%;
}
#line{
	display: block;
	margin:  0 45%;
	width: 10%;
}
#fold2 p{
	color: #000000;
	font-size: 1.9vw; 
	text-align: center;
	margin: 5% 10% ;
}
#fold3{
	background-color: #ffddd5;
}
#laughImg{
	width:50%;
}
#fold3 p{
	font-size: 2.5vw;
	display: inline-block;
	width:50%;
	float:left;
	padding: 10% 3%
}
#fold3 p span{
    font-size: 1.8vw;
    font-weight: 100;
}
#fold4{
	padding-left: 2%;
}
#fold4 h2{
    display: block;
    text-align: left;
    font-size: 4vw;
    margin: 5% 5% 1%;
}
#line2,#line3{
    display: block;
    margin: 1% 5% 3%;
	width: 10%;
}
.text{
    font-size: 2.5vw;
}
#fold4 div{
    font-size: 1.8vw;
    width:47%;
    float:left; 
    padding: 1%;
    border: 1px solid #adb7b7;
}
#buttom{
    margin: 5% 0% 10% 38%;
    font-size: 1.8vw;
	padding: 1% 3%;
	border:4px solid #adb7b7;
	border-radius: 4px;
	font-weight: 800;
	background-color:#ffffff;
}
#fold5 h2{
	position: absolute;
	display: inline-block;
	text-align: center;
	margin: 10% 30%;
	font-size: 2.3vw;
	color: #ffffff;
	}
#fold5 h2 span{
	font-size: 1.8vw ;
}
#fold5 a{
	color: #ffffff;
}
#fold6{
	background-color: #eaeef1;
}
#fold6 h2{
	display: block;
    text-align: left;
    font-size: 4vw;
    margin: 0 5%;
}
#stay,#stay2{
	position: relative;
}
#fold6 div{
	float:left;
	width:50%;
}
#Browse{
	clear: both;
	margin: 5% 0% 10% 38%;
    font-size: 1.8vw;
	padding: 1% 3%;
	border:4px solid #adb7b7;
	border-radius: 4px;
	font-weight: 800;
	background-color:#ffffff;
}
#Share{
	position: absolute;
	bottom: 30%;
	left:33%;
	width:10%;
}
#buy{
	position: absolute;
	bottom: 30%;
	left:7%;
	width: 10%
}
footer ul{
	display:;
	float:left;
	width:24%;
	font-size: 1.8vw;
	margin-left: 1%;
	list-style-type: none;
	margin-bottom: 10px;
}
footer input{
	font-size: 1.8vw;
}
footer li a{
	text-decoration: none;
	text-align: left;
	color:black;
}
footer  a:hover{
	color:#65cdaa;
}
#bottom{
	position:relative;
	clear: both;
	background-color: #eaeef1;
	font-size: 1.5vw;
	padding-top: 0.5%;
}
#bottom p{
	display: inline-block;
	margin-left:3%;
}
#bottom a{
	display: inline-block;
	margin-left:5%;
}
#bottom div{
	display: inline-block;
	margin-left:33%;
	width:25%;
}
footer img{
	width:1.5vw;
	height:1.6vw;
}
@media screen and (max-width:980px){
* {font-size:3.5vw;
}
#fold2 h2:nth-child(2){
	font-size: 3vw; 
	text-align: center;
}
#fold2 p,#fold5 h2{
	font-size: 3vw; 
}
#laughImg{
	width:100%;
}
#fold3 p{
	font-size: 3.5vw;
	color:#343545;
	width:100%;
	position: absolute;
	padding: 10% 3%;}
#fold4 div{
	width:98%; 
    border: 1px solid #adb7b7;
}
#fold6 div{
	position: relative;
	width:100%;	
	padding-left:7%
}
#Share{
	bottom: 15%;
	left:60%;
	width:25%;
}
#buy{
	bottom: 15%;
	left:20%;
	width: 25%
}
footer ul{
	width:80%;
	padding-top: 2%;
	margin: 0% 15%;
}
	footer:last-child ul{
		margin-bottom:3%;
	}	
footer ul li{
	display: inline;
}
footer input{
	font-size: 3vw;}	
#bottom p{
	display:block;
	padding-left:20%;
	font-size: 2.5vw;
}
#bottom div{
	display:block;
	margin-left:0;
	margin-top: 2%;
	padding-left: %;
	width:100%;
}
footer img{
	width:5vw;
	height:5vw;
}
}